@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-hackerDark text-hackerGreen font-mono;
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.1%, 100% { opacity: 0; }
}

input[type="text"] {
  caret-color: #00ff00;
}
